a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0D47A1;
    text-decoration: none;
}

body {
    font-family: sans-serif;

}

.wrapper {
    padding-top: 220px;
    background: url("../picture/background.jpg") no-repeat;
    background-color: whitesmoke;
    padding-bottom: 30px;
}

#navbar {
    margin-bottom: 0px;
    width: 100%;
    background-color: #00897B;
    border-color: #00897B;
    border-radius: 0%;
    box-shadow: 0px 3px 10px #616161;
    position: fixed;
    z-index: 10;
}

#navbar a {
    color: white;
}

<<<<<<< HEAD
/*Home */
.item{
    width: 100%;
    height: 400px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.container-slide {
    width: 100%;
    height: 270px;
}
.container-slide img {
    width: 70%;
    height: 50px;
}

.wrapper-home {
    padding-top: 50px;
    background-color: whitesmoke;
    padding-bottom: 30px;
}


.navbar-search-home [type= text] {
    width:400px;
    margin:0 auto;
    list-style:none;
}
.container-post-status{
    opacity: 10;
}
.container-post-status textarea {
    padding:0.5em;
    padding-top: 0.8em;
    font-family: "Montserrat", "sans-serif";
    font-size: 1.5em;
    border: 0.1em solid white;
    border-bottom: 0.1em solid #ccc;
    width: 100%;
    height: 70px;
    color: rgba(113,113,113,0.5);
}
.container-status{
    padding-top: 6.8em;
}
.container-post-status img {
    width: 165px;
    height: 165px;

}
.popover{
    max-width:400px;
    height: auto;

}
.popover img{
    width:375px;
    height: 250px;
    margin: auto 0px;
}
#topcard-home {

    border: 1px solid white;
    margin-top: 20px;
    border-radius: 0px;
    padding-bottom: 10px;
}
.container-newfeeds{
    background-color: whitesmoke;
    position: relative;
    width: 1100px;
    height: 600px;
    margin: auto;
    padding-bottom: 10px;
}
.container-newfeed {
    width: 250px;
    height: 400px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 0px;
    background-color: white;
}
.container-newfeed img {
    width: 250px;
    height: 167px;
}
.container-newfeed-Informations{
    padding:10px;
    width: auto !important;
    word-break: break-all;

}
.container-newfeed-Informations p
{
    white-space: normal;
    font-size: 15px;
}


/* new feed*/
.carosel {
    position: relative;
    background-color: whitesmoke;
}
.carosel-inner {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
}
.carosel-item {
    display: inline-block;
}
.carosel-control {
    position: absolute;
    top: 50%;
    padding: 15px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    display: inline-block;
}
.carosel-control-left {
    left: 15px;
}
.carosel-control-right {
    right: 15px;
}
.carosel-control:active,
.carosel-control:hover {

}

/* new feed*/
/* end home */

=======
>>>>>>> d499bfa6815a4797bd34d59a27293dc36b07d8a4
.account-name {
    color: white;
    margin-right: 50px;
    margin-top: 15px;
}

.CVcontainer {
    width: 960px;
    background-color: transparent;
    margin: 0 auto;
}

#topcard {
    background-color: rgba(255, 255, 255, 0.95);
    overflow: visible;
}

#avatar {
    width: 240px;
    height: 240px;
    cursor: zoom-in;
}

.btn-file {
    position: relative;
}

.btnBrowsers {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
<<<<<<< HEAD
=======
    opacity: 0;
}

.fluence-icon {
    width: 90px;
    height: 22px;
    background-image: url("../picture/fluencer.png");
    float: right !important;
    margin-right: 20px;
}

.personInfo a {
    font-size: 13px;
}

.personInfo h1 {
    font-size: 22px;
    margin: 20px 5px 5px 5px;
}

.personInfo h2 {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin:5px;
}

.personInfo ul {
    margin: 5px;
    padding: 0px;
}

.personInfo ul li {
    list-style: none;
    display: inline-block;
}

.personInfo ul li:first-child {
    border-right: 1px solid grey;
    padding-right: 5px;
}

.personInfo ul li a {
    color: grey;
}

.tittle {
    color: grey;
}

#dlexperience dt{
    text-align: left;
    width: 80px;
}

#dlexperience dt a:hover {
    color: grey;
}

#dlexperience dd{
    margin-left: 90px;
}

#info {
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
    zoom: 1;
    width: 10000px;
}

.connect {
    font-size: 13px;
    margin-top: 0px;
    padding-left: 10px;
    float:left;
}

.connect a {
    color: #0D47A1;
    font-weight: 700;
}

.connect a:hover {
    text-decoration: underline;
}

#btnFollow {
    float:left;
}

#dropdown {
    position: absolute;
>>>>>>> d499bfa6815a4797bd34d59a27293dc36b07d8a4
}

.followers {
    width: 90px;
    height: 22px;
    float: right !important;
    margin-right: 20px;
    text-align: right;
}

.followers h3 {
    font-size: 18px;
    font-weight: bold;
}

.followers h5 {
    margin-top: -10px;
    color: grey;
    font-size: 11px;
}

#contact {
    background: whitesmoke;
    height: 40px;
    border-radius: 0%;
    margin: 0px;
}

#webAddress {
    vertical-align: middle;
    padding: 8px 0px 0px 20px;
}

#webAddress>a {
    color: grey;
    font-size: 11px;
    padding-left: 20px;
}

#webAddress>a:hover {
    color: #0D47A1;
}

#btnContact{
    float: right;
    border-left: 1px solid #ccc;
    border-radius: 0px;
    width: 130px;
    height:40px;
    margin-top: -9px;
    background-color: #ececec;
    font-size: 11px;
}

#btnContact:hover{
    color: #0D47A1;
}

#background {
<<<<<<< HEAD
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
=======
>>>>>>> d499bfa6815a4797bd34d59a27293dc36b07d8a4
    margin-top: 20px;
    border-radius: 0px;
}

#background-header {
    width: 130px;
    border: none;
    background-color: #434649;
    color: white;
    border-radius: 0px;

}

#background-header h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.background-tittle h3{
    display: inline-block;
    color: #434649;
    font-size: 18px;
}

#background-body {
    padding: 30px;
    color: #434649;
}

.experience-content {
    padding: 30px 0px 30px 0px;
}

.experience-content .logo {
    margin-top: 20px;
    float: right;
}

.experience-content .position {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.experience-content .position:hover {
    color: #0D47A1;
}

.experience-content .company {
    font-size: 16px;
}

.education-content {
    padding: 30px 0px 30px 0px;
}

.education-content .logo {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    float: right;
}

.education-content .school {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.education-content .school:hover {
    color: #0D47A1;
}

.education-content .falcuty {
    font-size: 16px;
}

.btn-skill {
    padding: 5px;
}

.another-skill {
    display: inline;
}

.project-content {
    padding-top: 10px;
}

.project-content .name {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#btn-edit-person-info {
    display: none;
    padding-left: 10px;
    font-size: 18px;
}

.personInfo:hover #btn-edit-person-info {
    display: inline-block;
}

#btn-edit-summary {
    font-size: 20px;
    float:right;
    display: none;
}

.Summary:hover #btn-edit-summary {
    display: block;
}

#btn-edit-experience {
    font-size: 20px;
    display: none;
    float:right;
    margin-right: 5px;
}

.experience-content:hover #btn-edit-experience {
    display: block;
}

#btn-remove-experience {
    font-size: 20px;
    display: none;
    float:right;
}

.experience-content:hover #btn-remove-experience {
    display: block;
}

#btn-add-experience {
    display: none;
}

.experience:hover #btn-add-experience {
    display: block;
}

#btn-edit-top-skill {
    font-size: 20px;
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

#btn-remove-top-skill {
    font-size: 20px;
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.top-skill:hover #btn-edit-top-skill {
    display: block;
}

.top-skill:hover #btn-remove-top-skill {
    display: block;
}

#btn-edit-another-skill {
    font-size: 20px;
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

#btn-remove-another-skill {
    font-size: 20px;
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.another-skill:hover #btn-edit-another-skill {
    display: block;
}

.another-skill:hover #btn-remove-another-skill {
    display: block;
}

#btn-add-skill {
    display: none;
}

.skill:hover #btn-add-skill {
    display: block;
}

#btn-edit-education {
    display: none;
    font-size: 20px;
    float:right;
    margin-right: 5px;
}

#btn-remove-education {
    font-size: 20px;
    display: none;
    float:right;
}

.education-content:hover #btn-edit-education {
    display: block;
}

.education-content:hover #btn-remove-education {
    display: block;
}

#btn-add-education {
    display: none;
}

.education:hover #btn-add-education {
    display: block;
}

#btn-edit-project {
    font-size: 20px;
    display: none;
    float:right;
    margin-right: 5px;
}

.project-content:hover #btn-edit-project {
    display: block;
}

#btn-remove-project {
    font-size: 20px;
    display: none;
    float:right;
}

.project-content:hover #btn-remove-project {
    display: block;
}

#btn-add-project {
    display: none;
}

.project:hover #btn-add-project {
    display: block;
}

.large-avatar {
    width: 500px;
    height: 500px;
    margin-left: 30px;
}

.dialog-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog-modal.ng-hide-add { animation:0.5s scaleOut ease; }
.dialog-modal.ng-hide-remove { animation:0.5s scaleIn ease; }

@keyframes scaleIn {
    0% {
        margin-left: -720px;
        margin-top: -50px;
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        opacity: 0;
    }
    100% {
        transform: scale(0.4);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
    100% {
        margin-left: -720px;
        margin-top: -50px;
        opacity: 0;
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
    }
}