<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Jeff Weiner | Linkedin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/font-awesome.min.css">

    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./js/bootstrap.js">
    <link rel="stylesheet" href="./css/mycss.css">
</head>

<body  ng-app="LinkedInApp" ng-controller="newFeed">

<nav class="navbar navbar-inverse" id="navbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="navbar-header">
                    <a class="navbar-brand" style="padding-left: 50px;" href="#"><i class="fa fa-linkedin-square"></i>
                        LinkedIn</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="col-lg-2"></div>

                <div class="col-lg-10">
                    <form class="navbar-form navbar-search-home " role="search">
                                <span>
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                                </span>
                    </form>
                </div>

            </div>
            <div class="col-lg-2">
                <!--
                <div class="nav navbar-nav navbar-right nav-account">
                    <div class="account-name">Hello, {{ displayName }}
                        <button type="button" class="btn btn-success btn-xs" ng-click="logout()">Logout</button>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</nav>

<div class="wrapper-home">
        <div class="container-slide">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" ></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>
                <!-- Wrapper for slides -->

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img ng-src="{{backgroundActive.Background}}" alt="Chania" width="460" height="345">
                    </div>
                    <div class="item" ng-repeat="t in arrayBackground()">
                        <img ng-src="{{t.Background}}" alt="Chania" width="460" height="345">
                    </div>
                </div>

                <!-- Left and right controls -->

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <br/><br/><br/><br/>
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <br/><br/><br/><br/>
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="CVcontainer">
            <div id="topcard-home" class="panel panel-default">
                <div class="container-post-status">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="picture/avatar.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-newfeeds" >
            <br/>
            <h1>C#</h1>
            <h4>Get job for C# now!!!</h4>
            <div class="carosel">
                <button class="carosel-control carosel-control-left fa fa-chevron-left" style="opacity: 0.5" href=""></button>
                <div class="carosel-inner">
                    <div class="carosel-item" ng-repeat="new in arraySkills('C#')">
                         <div class="container-newfeed" >
                            <img ng-src={{new.Poster}}
                                                data-popover="true" data-html=true
                                                data-content="  <img src='{{new.Poster}}'style='width:375px;height: 250px;''/>
                                                                <h4><b>Company: </b>{{new.CompanyName}}</h4>
                                                                <p><b>Skills: </b>{{new.Skills}}</p>
                                                                <p><b>Count: </b>{{new.NumberOfPerson}}</p>
                                                                <p><b>Deadline: </b>{{new.DayPost}} - {{new.Deadline}}</p>
                                                                <p><b>Contact: </b>{{new.Contact}} -  {{new.Location}}</p>
                                                                ">

                            <div class="container-newfeed-Informations">
                                <p > {{new.Deadline}} - {{new.DayPost}}</p>
                                <p> <b>Number of Person:</b> {{new.NumberOfPerson}}</p>
                                <p > <b>Location:</b> {{new.Location}}</p>
                                <button type="button" class="btn btn-primary" style="float: right" ng-click = "clickJoin()">Join Now!</button>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="carosel-control carosel-control-right fa fa-chevron-right" href="" style="opacity: 0.5"></button>
            </div>
                <a href="#">More...</a>
            </div>

        <div class="container-newfeeds" >
            <br/>
            <h1>C/C++</h1>
            <h4>Get job for C/C++ now!!!</h4>
            <div class="carosel">
                <button class="carosel-control carosel-control-left fa fa-chevron-left" style="opacity: 0.5" href=""></button>
                <div class="carosel-inner">
                    <div class="carosel-item" ng-repeat="new in arraySkills('C/C++')">
                        <div class="container-newfeed" data-popover="true" data-html=true
                             data-content="    <img src='{{new.Poster}}'/>
                                                <h4><b>Company: </b>{{new.CompanyName}}</h4>
                                                <p><b>Skills: </b>{{new.Skills}}</p>
                                                <p><b>Count: </b>{{new.NumberOfPerson}}</p>
                                                <p><b>Deadline: </b>{{new.DayPost}} - {{new.Deadline}}</p>
                                                <p><b>Contact: </b>{{new.Contact}} -  {{new.Location}}</p>
                                                ">
                            <img ng-src={{new.Poster}} >

                            <div class="container-newfeed-Informations">
                                <p > {{new.Deadline}} - {{new.DayPost}}</p>
                                <p> <b>Number of Person:</b> {{new.NumberOfPerson}}</p>
                                <p > <b>Location:</b> {{new.Location}}</p>
                                <button type="button" class="btn btn-primary" style="float: right">Join Now!</button>
                            </div>

                        </div>
                    </div>

                </div>
                <button class="carosel-control carosel-control-right fa fa-chevron-right" href="" style="opacity: 0.5"></button>
            </div>
            <a href="#">More...</a>
        </div>

        <div class="container-newfeeds" >
            <br/>
            <h1>Java/Android</h1>
            <h4>Get job for Java/Android now!!!</h4>
            <div class="carosel">
                <button class="carosel-control carosel-control-left fa fa-chevron-left" style="opacity: 0.5" href=""></button>
                <div class="carosel-inner">
                    <div class="carosel-item" ng-repeat="new in arraySkills('Java/Android')">
                        <div class="container-newfeed" data-popover="true" data-html=true
                             data-content="    <img src='{{new.Poster}}'/>
                                                <h4><b>Company: </b>{{new.CompanyName}}</h4>
                                                <p><b>Skills: </b>{{new.Skills}}</p>
                                                <p><b>Count: </b>{{new.NumberOfPerson}}</p>
                                                <p><b>Deadline: </b>{{new.DayPost}} - {{new.Deadline}}</p>
                                                <p><b>Contact: </b>{{new.Contact}} -  {{new.Location}}</p>
                                                ">
                            <img ng-src={{new.Poster}} >

                            <div class="container-newfeed-Informations">
                                <p > {{new.Deadline}} - {{new.DayPost}}</p>
                                <p> <b>Number of Person:</b> {{new.NumberOfPerson}}</p>
                                <p > <b>Location:</b> {{new.Location}}</p>
                                <button type="button" class="btn btn-primary" style="float: right">Join Now!</button>
                            </div>

                        </div>
                    </div>
                </div>
                <button class="carosel-control carosel-control-right fa fa-chevron-right" href="" style="opacity: 0.5"></button>
            </div>
            <a href="#">More...</a>
        </div>

        <div class="container-newfeeds" >
            <br/>
            <h1>HTML/CSS</h1>
            <h4>Get job for HTML/CSS now!!!</h4>
            <div class="carosel">
                <button class="carosel-control carosel-control-left fa fa-chevron-left" style="opacity: 0.5" href=""></button>
                <div class="carosel-inner">
                    <div class="carosel-item" ng-repeat="new in arraySkills('HTML/CSS')">
                        <div class="container-newfeed" data-popover="true" data-html=true
                             data-content="    <img src='{{new.Poster}}'/>
                                                <h4><b>Company: </b>{{new.CompanyName}}</h4>
                                                <p><b>Skills: </b>{{new.Skills}}</p>
                                                <p><b>Count: </b>{{new.NumberOfPerson}}</p>
                                                <p><b>Deadline: </b>{{new.DayPost}} - {{new.Deadline}}</p>
                                                <p><b>Contact: </b>{{new.Contact}} -  {{new.Location}}</p>
                                                ">
                            <img ng-src={{new.Poster}} >

                            <div class="container-newfeed-Informations">
                                <p > {{new.Deadline}} - {{new.DayPost}}</p>
                                <p> <b>Number of Person:</b> {{new.NumberOfPerson}}</p>
                                <p > <b>Location:</b> {{new.Location}}</p>
                                <button type="button" class="btn btn-primary" style="float: right">Join Now!</button>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="carosel-control carosel-control-right fa fa-chevron-right" href="" style="opacity: 0.5"></button>
            </div>
            <a href="#">More...</a>
        </div>
</div>

<script src="./js/jquery-1.12.3.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
<script src="./js/angular-sanitize.js"></script>
<script src="./js/home.js"></script>
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBRz1w4wl2ECp6SMjfIQlWVCj16OwedOG0",
        authDomain: "1312678-linkedin.firebaseapp.com",
        databaseURL: "https://1312678-linkedin.firebaseio.com",
        storageBucket: "project-7155893810831756898.appspot.com",
    };
    firebase.initializeApp(config);
</script>

<script type="text/javascript">
    $('.carosel-control-right').click(function() {
        $(this).blur();
        $(this).parent().find('.carosel-item').first().insertAfter($(this).parent().find('.carosel-item').last());
    });
    $('.carosel-control-left').click(function() {
        $(this).blur();
        $(this).parent().find('.carosel-item').last().insertBefore($(this).parent().find('.carosel-item').first());
    });

    $('body').popover({ selector: '[data-popover]', trigger: 'click hover', placement: 'auto', delay: {show: 10, hide: 100}});

</script>
</body>
</html>
